// SUDDENDEATH DEFAULT ----------
// Vertex shaders
sdVS_C 256 "./Shaders/sdVS_C.cso"
sdVS_CT 256 "./Shaders/sdVS_CT.cso"
sdVS_CN 256 "./Shaders/sdVS_CN.cso"
sdVS_CTN 256 "./Shaders/sdVS_CTN.cso"

// Pixel shaders
sdPS_C 256 "./Shaders/sdPS_C.cso"
sdPS_CT 256 "./Shaders/sdPS_CT.cso"